@inherits LayoutComponentBase

<div class="page">
    <header id="header">
        <div class="container">

            <h1><a href="index.html">Paritosh Tiwari</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
            <h2>I'm a passionate <span>Software Engineer</span> from Dallas, Texas</h2>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link active" href="#header">Home</a></li>
                    <li><a class="nav-link" href="#about">About</a></li>
                    <li><a class="nav-link" href="#resume">Resume</a></li>
                    @* <li><a class="nav-link" href="#portfolio">Portfolio</a></li> *@
                    <li><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="social-links">
                <a href="https://github.com/ParitoshTiwari" class="github"><i class="bi bi-github"></i></a>
                <a href="https://stackoverflow.com/users/14934809/paritosh-tiwari" class="stack-overflow"><i class="bi bi-stack-overflow"></i></a>
                <a href="https://www.linkedin.com/in/paritosh-tiwari/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="https://drive.google.com/file/d/1ywOPi5UCcHP1WtmLZWSnkTbBsIe81yn3/view?usp=sharing" class="download"><i class="bi bi-download"></i></a>
            </div>

        </div>
    </header><!-- End Header -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

        <!-- ======= About Me ======= -->
        <div class="about-me container">

            <div class="section-title">
                <h2>About</h2>
                <p>Learn more about me</p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="assets/img/portfolio/paritosh3.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Software Engineer</h3>
                    <p class="fst-italic">
                        Paritosh Tiwari is a Software Engineer with experience delivering Web, Azure and Windows solutions and contributing towards
                        success of organizations like Fidelity National Financial and Streck.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>paritoshtiwari.com</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+1 (945) 208-4317</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Dallas, TX, USA</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>paritosh.tiwari.tech@gmail.com</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>paritosh.tiwari@utdallas.edu</span></li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        I have 4.5 years of experience in developing software solutions for various industries, such as finance, insurance, mortgage, real estate, and biotechnology. 
                        In my previous role at Fidelity National Financial, I led several projects that improved process efficiency, customer satisfaction, and revenue generation. 
                        I leveraged my skills in Azure, AWS, Python, .Net Core, Blazor, and Angular, and collaborated effectively with cross-functional teams.
                        I am open to new roles that challenge me and allow me to grow professionally. I am eager to apply my skills and learnings to new domains and projects. 
                        Let's connect and explore opportunities.
                    </p>
                </div>
            </div>

        </div><!-- End About Me -->
        <!-- ======= Counts ======= -->
        <div class="counts container">

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Professional Projects</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Personal Projects</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-headset"></i>
                        <span data-purecounter-start="0" data-purecounter-end="1480" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Hours Of Development</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-award"></i>
                        <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Awards</p>
                    </div>
                </div>

            </div>

        </div><!-- End Counts -->
        <!-- ======= Skills  ======= -->
        <div class="skills container">

            <div class="section-title">
                <h2>Skills</h2>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">C# <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">.Net Core <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">.Net Framework <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">Azure <i class="val">95%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Agile <i class="val">95%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Python <i class="val">82%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div><!-- End Skills -->
        <!-- ======= Interests ======= -->
        <div class="interests container">

            <div class="section-title">
                <h2>Skills</h2>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box">
                        <i class="ri-store-line" style="color: #ffbb2c;"></i>
                        <h3>SQL</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                        <h3>Blazor</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
                        <h3>Angular</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
                        <h3>Unit Test</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <i class="ri-database-2-line" style="color: #47aeff;"></i>
                        <h3>MOQ</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
                        <h3>Azure Functions</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                        <h3>Azure Entra ID</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
                        <h3>Debugging</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <i class="ri-anchor-line" style="color: #b2904f;"></i>
                        <h3>Postman</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <i class="ri-disc-line" style="color: #b20969;"></i>
                        <h3>Visual Studio</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <i class="ri-base-station-line" style="color: #ff5828;"></i>
                        <h3>Swagger</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
                        <h3>Fiddler</h3>
                    </div>
                </div>
            </div>

        </div><!-- End Interests -->
        <!-- ======= Testimonials ======= -->
        <div class="testimonials container">

            <div class="section-title">
                <h2>Testimonials</h2>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                I had the pleasure of working with Paritosh this past year at Streck Labs. Paritosh is a highly motivated and skilled individual who made significant contributions to our team. He is a highly motivated Software Engineer with excellent problem-solving skills.

                                Paritosh's technical abilities are outstanding, and he is well-versed in a range of technologies, including Microsoft Azure DevOps, workflow development, and requirements gathering for AI applications. He consistently impressed me with his ability to quickly grasp complex ideas and develop creative solutions.

                                In addition to his technical skills, Paritosh possesses strong communication and interpersonal skills. He maintained a professional demeanor and was always willing to help others when needed. His positive attitude and energy were contagious, and he was a joy to work with.

                                I highly recommend Paritosh for any Software Engineering role with a focus on quality, detail, teamwork, and innovation.  He is a rare talent, and his skills, work ethic, and dedication to his craft make him an asset to any team.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="assets/img/testimonials/Chad.jpg" class="testimonial-img" alt="">
                            <h3>Chad Lynch</h3>
                            <h4>Vice President, Streck LLC</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                It’s rare that you come across standout talent like Paritosh. Paritosh was the Developer on many projects while he was at FNFI. We worked together at FNFI to develop new projects and solved many technical problems.

                                Paritosh was an invaluable asset to the team and one of the highest performing developer I worked with during his tenure at FNFI. He independently managed multiple work streams where he demonstrated strong problem solving skills, deep research and analytical capabilities and scenario-driven strategic thinking. Paritosh brought a solutions-oriented mindset. I would work with Paritosh again without question, and I know he will go on to lead and achieve great things in his career.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="assets/img/testimonials/prashant.jpg class="testimonial-img" alt="">
                            <h3>Prashant Choubey</h3>
                            <h4>Senior Tech Lead, Fidelity National Financial</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                I have known Paritosh for the last 4 year during the time when he worked as a software engineer in my team.
                                It’s rare that you come across a standout talent like him.
                                Paritosh had really excelled in his role and I consider him as an intelligent and motivated individual.
                                He has an excellent work ethics and outstanding technical skills. He always had a positive attitude that made him a pleasure to work with person.
                                Calling him an asset seems like such an understatement.
                                I highly recommend Paritosh and would love to work with him again.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="assets/img/testimonials/rose.jpg" class="testimonial-img" alt="">
                            <h3>Rose Dungdung</h3>
                            <h4>Technical Lead, British Telecom</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                At FNFI, I got the opportunity to work with Paritosh. He is easy to work with and always goes above and beyond to deliver high quality work. I value his commitment, clarity of thought, attention to detail, and accountability. He will be a valuable member of the team.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="assets/img/testimonials/arun.jpeg" class="testimonial-img" alt="">
                            <h3>Arun Mehta, PMP</h3>
                            <h4>Delivery Manager, Koch</h4>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="owl-carousel testimonials-carousel">
            </div>

        </div><!-- End Testimonials  -->

    </section><!-- End About Section -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Paritosh Tiwari</h4>
                        <p><em>Highly skilled Software Engineer with a diverse proficiency in a wide range of programming languages including C#, SQL, Python, JavaScript, and more. Experienced in developing and optimizing applications using frameworks such as ASP.Net Core, Entity Framework Core, and Angular. Proficient in utilizing various tools and technologies such as Azure, AWS, Microservices, and Git to deliver robust solutions. Possess expertise in areas like test-driven development, integration testing, and debugging. Demonstrated success in spearheading projects, from requirement gathering to deployment, resulting in significant efficiency gains and cost savings for organizations like Streck LLC and Fidelity National Financial. Holds certifications in Microsoft Azure Fundamentals and Salesforce Administration. Complemented by a solid educational background with a Master's degree in Information Technology and Management from the University of Texas at Dallas.</em></p>
                        <p>
                            <ul>
                                <li>Dallas, TX</li>
                                <li>(945) 208-4317</li>
                                <li>paritosh.tiwari.tech.com</li>
                            </ul>
                        </p>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Master of Science; Information Technology and Management</h4>
                        <h5>2022 - 2024</h5>
                        <p><em>University of Texas at Dallas; Dallas, TX</em></p>
                        @* <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p> *@
                    </div>
                    <div class="resume-item">
                        <h4>Post Graduate Diploma in Advance Computing</h4>
                        <h5>2017 - 2018</h5>
                        <p><em>Center for Development of Advance Computing; India</em></p>
                        @* <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> *@
                    </div>
                    <div class="resume-item">
                        <h4>Bachelor of Science; Electrical Engineering</h4>
                        <h5>2012 - 2016</h5>
                        <p><em>Uttarakhand Technical University; India</em></p>
                        @* <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> *@
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Software Engineer</h4>
                        <h5>May 2023 - Aug 2023</h5>
                        <p><em>Streck LLC, Omaha, NE</em></p>
                        <p>
                            <ul>
                                <li>Successfully resolved data synchronization challenges in an ASP.NET MVC employee management application, automating new AD accounts set up and ticket generation for infrastructure team to set up MFA reducing 80% time setting up new accounts</li>
                                <li>Established a resilient API infrastructure for UKG to on-premises AD synchronization, utilizing Microsoft Graph API and PowerShell for data management, and enabling diverse integration through Azure Logic Apps, Console Application, and MVC application.</li>
                                <li>Undertook end-to-end project responsibilities, including requirement gathering, development, testing, and deployment, as the sole team member, and establishing test environments using AD servers and IIS servers for rigorous solution validation.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Software Engineer</h4>
                        <h5>Mar 2018 - May 2022</h5>
                        <p><em>Fidelity National Finanical</em></p>
                        <p>
                            <ul>
                                <li>Led the migration of a VB.Net application to web application with ASP.Net Core Web APIs and Blazor adhering to Microservices architecture, empowering users to conduct 147 property searches in New York, generate invoices, and save 173 hours monthly.</li>
                                <li>Implemented complex searches on bankrupt properties, saving $40,000 annually and generating automated SSRS reports and delivering documents via email, Web API, SFTP, and FTP.</li>
                                <li>Designed and developed a Background Queue Service to reliably deliver large (100 MB) documents, incorporating asynchronous SignalR notifications to inform users of document delivery.</li>
                                <li>Demonstrated investigation, and experimentation towards technological evolution by building new tools and framework utilities, adhering to Object-Oriented Principles, SOLID principles, and design patterns, fostering efficiency within the team.</li>
                                <li>Integrated Windows applications with WPF application, performed RPC calls to WCF and Rest services to provide 52 different property services.</li>
                                <li>Established automated CI/CD pipelines for a custom framework, automating 83% of manual tasks, and saving 60 hours weekly, and generated technical documentation for code migration from Team Foundation Server (TFS) version control to GIT.</li>
                                <li>Spearheaded Unit Testing and Integration testing using the MOQ Framework and MS Test, increasing code coverage from 60% to 95% and provided documentation, mentorship, and education to enhance the team's proficiency in writing effective test cases.</li>
                                <li>Developed Python Scripts for Robotic Process Automation, reducing the time needed for manual intervention in escrow loan account setup by 66%.</li>
                                <li>Engineered a Python application for financial repayment plans, optimizing processor efficiency to handle 696 additional daily requests, thereby improving system performance and scalability.</li>
                                <li>Proficient in Agile methodologies, following DevOps best practices and actively participating in sprint planning, daily stand-ups, and retrospective meetings to deliver high-quality software iteratively and incrementally.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->
    <!-- ======= Portfolio Section ======= -->
    @* <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p>My Works</p>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 1</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 2</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 2</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 2</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 1</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 3</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section> *@<!-- End Portfolio Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Contact Me</p>
            </div>

            <div class="row mt-2">

                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="info-box">
                        <i class="bx bx-map"></i>
                        <h3>My Address</h3>
                        <p>Richardson, TX</p>
                    </div>
                </div>

                <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                    <div class="info-box">
                        <i class="bx bx-share-alt"></i>
                        <h3>Social Profiles</h3>
                        <div class="social-links">
                            <a href="https://github.com/ParitoshTiwari" class="github"><i class="bi bi-github"></i></a>
                            <a href="https://stackoverflow.com/users/14934809/paritosh-tiwari" class="stack-overflow"><i class="bi bi-stack-overflow"></i></a>
                            <a href="https://www.linkedin.com/in/paritosh-tiwari/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            <a href="https://drive.google.com/file/d/1ywOPi5UCcHP1WtmLZWSnkTbBsIe81yn3/view?usp=sharing" class="download"><i class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mt-4 d-flex align-items-stretch">
                    <div class="info-box">
                        <i class="bx bx-envelope"></i>
                        <h3>Email Me</h3>
                        <p>paritosh.tiwari.tech@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 d-flex align-items-stretch">
                    <div class="info-box">
                        <i class="bx bx-phone-call"></i>
                        <h3>Call Me</h3>
                        <p>+1 (945) 208-4317</p>
                    </div>
                </div>
            </div>

            <form action="" method="post" role="form" class="php-email-form mt-4">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

        </div>
    </section><!-- End Contact Section -->

    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
